
<div class="row">
	<div class="col col-8 mx-auto mb-4">
		<div class="card border-secondary">
			<div class="card-header">Profile</div>
			<div class="card-body">
				<h4 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h4>
				<small><%= @user.email %></small>
				<p class="card-text"><%= @user.description %></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-8 mx-auto text-center mb-4">
		<%= link_to "Edit account information", edit_user_registration_path, class: "btn btn-primary btn-sm" %>
		<%= link_to "Edit personal information", edit_user_path, class: "btn btn-primary btn-sm ml-3" %>
	</div>
</div>
