<div class="container mt-4">
 <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-8 event-header">
      <%= image_tag @event.picture, alt: 'picture', class: "card-img" %>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text"><small class="text-muted"><%= @event.start_date %></small></p>
        <h3 class="card-title"><%= @event.title %></h3>
        <p class="card-text"><%=@event.description%></p>
        <p class="card-text font-italic"><%= "Created by #{@event.admin.email}" %></p>
        <h4 class="card-text"><%= @event.price %> €</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-md-8">
    <p class="event-icons"> <i class="fas fa-share-alt"></i>  <i class="fas fa-thumbs-up"></i></p>
  </div>
  <div class="col col-md-4">
    <% if current_user %>
    <% if @event.price > 0 %>
    <% unless @event.admin == current_user || @event.is_coming?(current_user) %>
    <p><%= link_to "Join this event", new_charge_path(id: @event.id), class: "btn btn-primary", role: "button" %></p>
    <% end %>

    <% else %>
    <% unless @event.admin == current_user || @event.is_coming?(current_user) %>
    <p><%= button_to 'Join free event', create_attendance_path(id: @event.id), class:"btn btn-success" %></p>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
<hr>

<div class="row mt-4">
  <div class="col col-md-8">
    <h5><%= @event.title %></h5>

    <div class="p text-justify">
      <%= @event.description %>
    </div>
</div>
    <div class="col col-md-4">
      <h5>Date and time</h5>
      <div class="p"><%= @event.start_date %> </div><br>
      
      <h5>ADDRESS</h5>
      <p><%= @event.location %></p>
      

      <% if current_user %>
      <% if @event.admin == current_user %>
      <p><%= link_to "Your event", attendances_path(id: @event.id), class: "btn btn-primary", role: "button" %></p>
      <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
     <p class="event-icons"><i class="fab fa-twitter"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i></p>
   </div>
 </div>
</div>



